<component name="ArtifactManager">
  <artifact type="war" name="springmvcmaven:war">
    <output-path>$PROJECT_DIR$/../springmvcmavenJ/target</output-path>
    <root id="archive" name="springmvcmaven_war.war">
      <element id="artifact" artifact-name="springmvcmaven:war exploded" />
    </root>
  </artifact>
</component>